.modal {
  width: min(360px, 90vw);
  max-width: min(360px, 90vw);
  box-sizing: border-box;
}

.fieldContainer,
.prefsContainer,
.btnContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  margin: var(--space-l) 0;
  min-width: 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldContainer select {
  width: fit-content;
}